/* hp max-width: 600px*/
body {
    background-color: yellow;
}

/* Tablet max-width: 600px */
@media screen and (min-width: 600px) {
    /* element selector body */
    body{
        background-color: green;
    }
    .col-md-50{
        width: 50%;
        float: left;
    }
    .col-md-100{
        width: 100%;
        float: left;
    }
}

/* dekstop max-width: 992px */
@media screen and (min-width: 992px) {
    /* element selector body */
    body{
        background-color: red;
    }

    /* class selector */
    .col-lg-25{
        width: 25%;
        float: left;
    }

    .col-lg-50{
        width: 50%;
        float: left;
    }
}

